h1 {
    color: orange;
    text-align: center;
    font-family: "Lucida Handwriting", "Brush Script", cursive;
    font-size: 70px;
    font-weight: bold;
    border: 12px dotted rgb(115, 4, 167);
}

.Kale {
    background-color: rgb(229, 174, 252);
    font-size: 24px;
    text-align: center;
    font-family: "Copperplate", fantasy;
    width: 400px;
    margin: 0 auto;
    padding: 24px;

} 

.Poblanos {
    background-color: rgb(216, 136, 251);
    font-size: 24px;
    text-align: center;
    font-family: "Copperplate", fantasy;
    width: 400px;
    margin: 0 auto;
    padding: 24px;

} 

.Peaches {
    background-color: rgb(201, 80, 253);
    font-size: 24px;
    text-align: center;
    font-family: "Copperplate", fantasy;
    width: 400px;
    margin: 0 auto;
    padding: 24px;

} 